<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">

    <test name="User registration using firefox">
        <parameter name="browser" value="firefox"></parameter>
        <parameter name="userGrid" value="false"></parameter>
        <classes>
            <class name="testcases.PurchaseProduct">
                <methods>
                    <include name="purchaseProduct"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="User registration using chrome">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="userGrid" value="false"></parameter>
        <classes>
            <class name="testcases.PurchaseProduct">
                <methods>
                    <include name="purchaseProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
